@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('../src/assets/font/Inter_18pt-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../src/assets/font/Inter_18pt-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}


html,
body {
    /* font-family: var(--font-stacksans); */
    scroll-behavior: smooth;
    /* overflow-x: hidden !important; */
    max-width: 100%;
    /* scrollbar-gutter: stable; */
    /* overflow-y: auto; */
}

.page-content {
    animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}
::placeholder{
    color:#3b4758;
}
@media (min-width: 1024px) {
.overlay{
    background-color: #ff7a18;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.7;
}

}
.home-hero{
    background-image: url(./assets/images/mobile-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}
.home-overlay{
    background-color: #080808;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
    opacity: 0.8;
}
@media(min-width: 1024px) {
    .home-hero{
    background-image: url(./assets/images/desktop-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}
}
.addition{
    background-image: url(./assets/images/breaded.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
} 
.explore-hero{
     background-image: url(./assets/images/explore-hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
}