@import "tailwindcss";

@font-face {
  font-family: 'Inter';
  src: url('../src/assets/font/Inter_18pt-Regular.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../src/assets/font/Inter_18pt-Bold.ttf');
  font-weight: 600;
  font-style: normal;
}


html,
body {
    /* font-family: var(--font-stacksans); */
    scroll-behavior: smooth;
    overflow-x: hidden !important;
    max-width: 100%;
    /* overflow-y: auto; */
}

.page-content {
    animation: fadeIn 0.4s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}